html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.img-style{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}


.description{
    text-align: justify;
    padding: 2rem;
    height: 150px;
    overflow: hidden;
}

@media(max-width: 989px){
    .img-style{
        width: 400px;
        height:600px;
    }
    .description {
        height: 90px;
    }
}